.img-set {
  background-image: url(https://s.pstatic.net/static/www/m-new/uit/img/sp_main_search_df8ba29e.png);
  background-size: 323px 185px;
  background-repeat: no-repeat;
}

.header-out {
  transform: translateY(-100%);
  transition: .4s linear;
}

.header-in {
  transform: translateY(0%);
  transition: .4s linear;
}